header {
    border: 1px solid goldenrod;
}

header ul li {
    float: left;
    padding-right: 10px;
    list-style: none;
}

.disabled {
    color: grey;
}

a + .disabled {
    color: purple;
}

.active {
    color: yellow;
}

.red {
    color: red;
}

.red + h4 {
    background-color: red;
}

.blue {
    color: blue;
}

.blue + h4 {
    background-color: blue;
}

.grandparent > h4 {
    border: 1px solid black;
    border-radius: 5px;
}

.promo {
    font-weight: bold;
    color: gold;
}

input[type="text"]{
    font-size: 25px;
}








.clearfix:after {
    content: "";
    display: table; 
    clear: both; 
  }